@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}


/* Custom scrollbar styles for sidebar */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-slate-300::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent;
}